.createGameContainer{
    width: 100vw;
    height: 100vh;
    background-color: #F2F2F1;
    display: flex;
    flex-direction: column;
    .header{
        height: 56px;
        padding: 0 8px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
        z-index: 999;
        .leftHeader{
            display: flex;
            flex-direction: row;
            img{
                height: 56px;
                padding: 8px;
            }
            input{
                padding: 4px 6px;
                border: 2px solid #CCCCCC;
                border-radius: 4px;
                font-size: 1em;
                font-weight: 700;
                margin: 8px 8px;
            }
        }

        .rightHeader{
            display: flex;
            flex-direction: row;
            align-items: center;
            &> *{
                margin-right: 8px;
            }
        }
    }

    .body{
        display: flex;
        flex-direction: row;
        flex: 1;
        .leftBody{
            width: 192px;
            background-color: #fff;
            box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
            .selected{
                background-color: #EAF4FC !important;
            }
            .questionSelector{
                height: 140px;
                background-color: #fff;
                padding: 12px 16px 12px 0;
                .title{
                    height: 24px;
                    label{
                        font-size: 0.75rem;
                        font-weight: 700;
                        margin-left: 24px;
                    }
                }
                .content{
                    display: flex;
                    flex-direction: row;
                    .control{
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        justify-content: space-around;
                        align-items: center;
                        svg{
                            width: 1.5rem;
                            height: 1.5rem;
                            padding: 4px;
                            &:hover{
                                background-color: #D3DBE1;
                                border-radius:50%;
                                cursor: pointer;
                            }
                        }
                    }
                    .contentBoard{
                        width: 150px;
                        display: flex;
                        flex: 3;
                        justify-content: center;
                        &:hover{
                            background-color: #D3DBE1;
                            cursor: pointer;
                        }
                        svg{
                            width: 6rem;
                            height: 6rem;
                            
                        }
                    }
                }
            }
            .addButton{
                padding: 16px 24px;
                p{
                    font-size: 0.875rem;
                }
            }
        }
        .centerBody{
            display: flex;
            flex:2;
            padding: 48px 20px;

            .questionItem{
                display: flex;
                flex-direction: column;
                flex: 1;
                .questionTitle{
                    display: flex;
                    flex: 1;
                    input{
                        flex: 1;
                        padding: 0 32px;
                        border-radius: 4px;
                        border-top-width: 0px;
                        border-right-width: 0px;
                        border-bottom-width: 4px;
                        border-left-width: 0px;
                        border-color: #D9D9D9;
                        line-height: normal;
                        font-size: 3vh;
                        text-align: center;
                        font-weight: 500;
                    }
                }
    
                .mediaContainer{
                    display: flex;
                    padding: 24px 0;
                    flex: 6;
                    justify-content: center;
                    .media{
                        width: 70vh;
                        background-color: #fff;
                        border-radius: 4px;
                        border-color: #D9D9D9;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        border-bottom: 4px;
                        border-color: #D9D9D9;
                        &:hover{
                            cursor: pointer;
                        }
                        svg{
                            fill:#1360BE;
                            height: 64px;
                            width: 64px;
                            margin-bottom: 8px;
                        }
                        p {
                            font-size: 1.25rem;
                            font-weight: 500;
                            color: #757575;
                        }
                    }
                }
    
                .answerContainer{
                    display: flex;
                    flex-direction: column;
                    flex: 4;
                    .answerLine{
                        display: flex;
                        flex-direction: row;
                        flex: 1;
                        .answerBox{
                            display: flex;
                            flex: 1;
                            margin: 8px 4px;
                            background-color: #fff;
                            box-shadow: 0 4px #D9D9D9;
                            border-radius: 4px;
                            align-items: center;
                            input{
                                flex: 12;
                                border: none;
                                font-size: 1rem;
                                font-weight: 500;
                            }
                            .redRectangle{
                                display: flex;
                                flex: 1;
                                height: 96px;
                                background-color: #E21B3C;
                                border-radius: 4px;
                                margin: 4px 8px;
                            }
                            .blueRectangle{
                                display: flex;
                                flex: 1;
                                height: 96px;
                                background-color: #1368ce;
                                border-radius: 4px;
                                margin: 4px 8px;
                            }
                            .yellowRectangle{
                                display: flex;
                                flex: 1;
                                height: 96px;
                                background-color: #d89e00;
                                border-radius: 4px;
                                margin: 4px 8px;
                            }
                            .greenRectangle{
                                display: flex;
                                flex: 1;
                                height: 96px;
                                background-color: #26890c;
                                border-radius: 4px;
                                margin: 4px 8px;
                            }
                        }
                    }
                }
            }
        }
        .rightBody{
            width: 288px;
            background-color: #fff;
            box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
            padding: 16px;
            font-size: 0.875rem;
            display: flex;
            flex-direction: column;
            .rightBodyItem{
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
                .selector{
                    display: flex;
                    padding: 4px;
                    margin-top: 8px;
                    align-items: center;
                    label{
                        display: flex;
                        margin-left: 8px;
                        font-weight: 700;
                    }
                }
                .correctAns{
                  padding: 4px;
                  margin-top: 8px;
                  border-radius: 4px;
                }
            }
            
        }
    }
}
