.hostgameContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    .questionItem{
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 16px;
        .questionTitle{
            display: flex;
            flex: 1;
            justify-content: space-between;
            input{
                width: 80vw;
                padding: 0 32px;
                border-radius: 4px;
                border: none;
                line-height: normal;
                font-size: 4vh;
                text-align: center;
                font-weight: 700;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            }
            .blank{
                width: 96px;
                height: 48px;
            }
        }

        .mediaContainer{
            display: flex;
            padding: 24px 0;
            flex: 4;
            justify-content: space-between;
            align-items: center;
            .timer{
                background-color: #864CBF;
                border-radius: 50%;
                height: 120px;
                width: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    font-weight: 700;
                    font-size: 3rem;
                    color: #fff;
                }
            }
            .media{
                width: 70vh;
                height: 100%;
                background-color: #fff;
                border-radius: 4px;
                border-color: #D9D9D9;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-bottom: 4px;
                border-color: #D9D9D9;
                &:hover{
                    cursor: pointer;
                }
                svg{
                    fill:#1360BE;
                    height: 64px;
                    width: 64px;
                    margin-bottom: 8px;
                }
                p {
                    font-size: 1.25rem;
                    font-weight: 500;
                    color: #757575;
                }
            }
            .playerCounter{
                font-weight: 700;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span{
                    font-size: 2rem;
                }
                label{
                    font-size: 1.5rem;
                }
            }
        }

        //chart

        .chartContainer{
            display: flex;
            padding: 24px 0;
            flex: 4;
            justify-content: center;
            align-items: center;
            .chart{
                width: 40vw;
                height: 100%;
                background-color: transparent;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

        .answerContainer{
            display: flex;
            flex-direction: column;
            flex: 0;
            .answerLine{
                display: flex;
                flex-direction: row;
                flex: 1;
                .answerBox{
                    display: flex;
                    flex: 1;
                    margin: 8px 4px;
                    border-radius: 4px;
                    align-items: center;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.9;
                    }
                    span{
                        flex: 12;
                        border: none;
                        font-size: 4vh;
                        font-weight: 700;
                        background-color: transparent;
                        color: #fff;
                    }
                    .icon{
                        display: flex;
                        flex: 1;
                        height: 96px;
                        background-color: transparent;
                        border-radius: 4px;
                        margin: 4px 8px;
                        justify-content: center;
                        align-items: center;
                        svg{
                            color: #fff;
                            font-size: 2rem;
                        }
                    }
                }
            }
            .red{
                background-color: #E21B3C;
                box-shadow: 0 4px #B1152F;
            }
            .blue{
                background-color: #1368ce;
                box-shadow: 0 4px #0F52A2;
            }
            .yellow{
                background-color: #d89e00;
                box-shadow: 0 4px #A97C00;
            }
            .green{
                background-color: #26890c;
                box-shadow: 0 4px #1E6B09;
            }
        }
    }
    .footer{
        background-color: #fff;
        height: 48px;
        display: flex;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
        display: flex;
        justify-content: space-between;
        padding: 4px 16px;
        align-items: center;
        span{
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}

.scoreboardContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    .questionItem{
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        .questionTitle{
            display: flex;
            flex: 1;
            justify-content: space-between;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            span{
                width: 80vw;
                border: none;
                line-height: normal;
                font-size: 4vh;
                text-align: center;
                font-weight: 700;
                align-self: center;
            }
            .blank{
                width: 96px;
                height: 48px;
            }
        }

    }
    .body{
        flex: 5;
        background-color: #FFA438;
        padding: 32px 128px;
        overflow: auto;
        .scoreItem{
            height: 74px;
            background-color: #fff;
            margin: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            span{
                font-weight: 700;
                font-size: 1.5rem;
            }
        }
    }
    .footer{
        background-color: #fff;
        height: 48px;
        display: flex;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
        display: flex;
        justify-content: space-between;
        padding: 4px 16px;
        align-items: center;
        span{
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}

.resultContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    .questionItem{
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        .questionTitle{
            display: flex;
            flex: 1;
            justify-content: space-between;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            span{
                width: 80vw;
                border: none;
                line-height: normal;
                font-size: 4vh;
                text-align: center;
                font-weight: 700;
                align-self: center;
            }
            .blank{
                width: 96px;
                height: 48px;
            }
        }

    }
    .body{
        flex: 5;
        background-color: #553CAE;
        padding: 32px 128px;
        overflow: auto;
        .scoreItem{
            height: 74px;
            background-color: #fff;
            margin: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            border-radius: 4px;
            span{
                font-weight: 700;
                font-size: 1.5rem;
            }
        }
    }
    .footer{
        background-color: #fff;
        height: 48px;
        display: flex;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
        display: flex;
        justify-content: space-between;
        padding: 4px 16px;
        align-items: center;
        span{
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}