.playerNameCardContainer{
    height: 48px;
    background-color: #381272;
    border-radius: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    font-weight: 700;
    font-size: 1.5rem;
}